<!-- Footer -->
<footer id="footer">
	<ul class="icons">
		{{ partial "social-icon" (dict "link" "#" "class" "icon brands fa-twitter" "alt" "Follow on Twitter") }}
		{{ partial "social-icon" (dict "link" "#" "class" "icon brands fa-facebook" "alt" "Follow on Facebook") }}
		{{ partial "social-icon" (dict "link" "#" "class" "icon brands fa-instagram" "alt" "Follow on Instagram") }}
		{{ partial "social-icon" (dict "link" "#" "class" "icon fa-envelope" "alt" "Email Me") }}
	</ul>
	<ul class="copyright">
		<li>&copy; {{ $.Site.Copyright }}</li>
		<li>Web Design by <a href="https://webelements.agency">WebElements</a></li>
	</ul>
</footer>

<!-- Scripts -->
<script src="assets/js/main.js"></script>
